This file contains the code for exploring and cleaning the dataset, including the tasks:
- checking for missing values.
- exploring data distributions. 
- removing unnecessary columns.

In [5]:
!pip install matplotlib
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/donia/.local/lib/python3.8/site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=1.2 in /home/donia/.local/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from seaborn) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/donia/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/donia/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/donia/.local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.0.1)
Requirement already satisfied: pytz>=2020.1 in /home/donia/.local/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/donia/.local/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in /home/donia/miniconda3/envs/geospatial/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 588.5 kB/s eta 0:00:00a 0:00:01
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [6]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.calibration import LabelEncoder

**Load the dataset**

In [7]:
# Get the current working directory & Construct the relative path to train.csv
current_dir = os.getcwd() 
relative_path_train = os.path.join('..', 'data', 'train.csv')
relative_path_test = os.path.join('..', 'data', 'test.csv')

In [8]:
training_data = pd.read_csv(os.path.join(current_dir, relative_path_train))
test_data = pd.read_csv(os.path.join(current_dir, relative_path_test))

**Explore the dataset**

In [9]:
print(training_data.shape)
print(test_data.shape)
print(test_data.shape[0]/training_data.shape[0])

(103904, 25)
(25976, 25)
0.25

In [10]:
print(training_data.columns)

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [11]:
training_data

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [12]:
print(training_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB
None

**Delete duplicate data [if exist]**

In [13]:
training_data.duplicated().any()
test_data.duplicated().any()

False

In [17]:
# generates descriptive statistics of the training data
# include="O": This parameter is specifying that you want to include columns with object data type 
training_data.describe(include = "O")

,Gender,Customer Type,Type of Travel,Class,satisfaction
count,103904,103904,103904,103904,103904
unique,2,2,2,3,2
top,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
freq,52727,84923,71655,49665,58879

In [18]:
# compute the number of unique values for each column in the DataFrame training_data.
training_data.nunique()

Unnamed: 0                           103904
id                                   103904
Gender                                    2
Customer Type                             2
Age                                      75
Type of Travel                            2
Class                                     3
Flight Distance                        3802
Inflight wifi service                     6
Departure/Arrival time convenient         6
Ease of Online booking                    6
Gate location                             6
Food and drink                            6
Online boarding                           6
Seat comfort                              6
Inflight entertainment                    6
On-board service                          6
Leg room service                          6
Baggage handling                          5
Checkin service                           6
Inflight service                          6
Cleanliness                               6
Departure Delay in Minutes              446
Arrival Delay in Minutes                455
satisfaction                              2
dtype: int64

In [19]:
# Print the unique values in each column
for column in training_data.columns:
    print(f"'{column}': {training_data[column].unique()}")
    print("_______________________________________________________")

'Unnamed: 0': [     0      1      2 ... 103901 103902 103903]
_______________________________________________________
'id': [ 70172   5047 110028 ...  68825  54173  62567]
_______________________________________________________
'Gender': ['Male' 'Female']
_______________________________________________________
'Customer Type': ['Loyal Customer' 'disloyal Customer']
_______________________________________________________
'Age': [13 25 26 61 47 52 41 20 24 12 53 33 45 38  9 17 43 58 23 57 49 36 22 31
 15 35 67 37 40 34 39 50 29 54 21 28 27 69 60 48 59 46 30 66 64 44 51 32
 19 42 16 11 62  8 56 68 55 18 65 72 70 63 10  7 14 80 74 71 85 73 76 77
 75 79 78]
_______________________________________________________
'Type of Travel': ['Personal Travel' 'Business travel']
_______________________________________________________
'Class': ['Eco Plus' 'Business' 'Eco']
_______________________________________________________
'Flight Distance': [ 460  235 1142 ...  974 1479  400]
_______________________________________________________
'Inflight wifi service': [3 2 4 1 5 0]
_______________________________________________________
'Departure/Arrival time convenient': [4 2 5 3 1 0]
_______________________________________________________
'Ease of Online booking': [3 2 5 4 1 0]
_______________________________________________________
'Gate location': [1 3 2 5 4 0]
_______________________________________________________
'Food and drink': [5 1 2 4 3 0]
_______________________________________________________
'Online boarding': [3 5 2 1 4 0]
_______________________________________________________
'Seat comfort': [5 1 2 3 4 0]
_______________________________________________________
'Inflight entertainment': [5 1 2 3 4 0]
_______________________________________________________
'On-board service': [4 1 2 3 5 0]
_______________________________________________________
'Leg room service': [3 5 4 2 1 0]
_______________________________________________________
'Baggage handling': [4 3 5 1 2]
_______________________________________________________
'Checkin service': [4 1 3 5 2 0]
_______________________________________________________
'Inflight service': [5 4 3 1 2 0]
_______________________________________________________
'Cleanliness': [5 1 2 3 4 0]
_______________________________________________________
'Departure Delay in Minutes': [  25    1    0   11    9    4   28   43   49    7   17   52   54   27
   18   19    3  109   23    8   14   10   51   39   13   30   64   20
   45   44   31   81   35   67   22   40   91   21   15   29  105   12
  162   24  141    6   34    2   97   16   99   37   66   53   36  209
   60  149   26    5   59   62  113   38   83  176   46   73  199   56
   93   70   80   96   57   95   74  172   63  175  143   48   47  101
  118   76  220   33   55  232  170  173  124  112   94  243  128   92
  270   90  110   50  144   71  315  158   88   65  111   32  156   41
  154  150  228   72  137  126  161   42  174  103  313  136  160  412
   69  185  114  135  142  147   85  235  125  391   84  138  102  196
  140   77  187  131   82  100   86  165   87  129  204  435  166  177
  123  139  116  108  167  285   61  117  106  190  168  211   89  324
   75  202  290  189  203  120  157  119   68  299  292   78  258  104
  121   58  222  317  320  200  134  248   79  240  169   98  249  145
  238  246  132  107  127  180  151  480  241  130  268  115  133  171
  164  330  438  472  163  122  326  186  155  223  332  447 1305  208
  201  233  210  182  221  159  188  184  224  178  266  191  219  652
  148  226  236  153  276  212  152  198  245  726  302  283  505  242
  215  394  206  311  293  566  225  146  218  227  252  291  193  323
  281  287  339  183  259  192  319  207  195  179  194  537  181  257
  213  300  295  262  312  383  392  294  250  419  216  308  423  346
  272  197  205  303  251  344  333  355  454  459  269  254  231  253
  265  301  263  381  214  310  244  239  255  328  348  278  859  692
  321  465  426  340  274  267  519  286  414  559  382  237  260  401
  247  376  288  271  450  230  217  279  264  448  398  750  365  316
  351  327  341  306  353  358  514  334  277  275  352  371  437  229
  600  296  460  338  307  234  289  452  318  256  368  626  729  362
  360  853  446  399  396  463  364  342  372  298  273  427  429  373
  420  579  930 1017  921  370  378  595  491  469  345  410  610  388
  748  336  433  455  347  444  282  978  322  496  389  359  415  329
  933  402  331  280  407 1592  501  384  377  503  400  430  570  357
  350  297  309  531  304  363  411  390  314  343  724  337]
_______________________________________________________
'Arrival Delay in Minutes': [1.800e+01 6.000e+00 0.000e+00 9.000e+00 2.300e+01 8.000e+00 3.500e+01
 5.100e+01 1.000e+01 5.000e+00 4.000e+00 2.900e+01 4.400e+01 2.800e+01
 1.200e+01 1.200e+02 2.400e+01 1.000e+00 2.000e+01 3.100e+01 1.500e+01
 4.800e+01 2.600e+01 4.900e+01 2.000e+00 3.700e+01 5.000e+01 3.000e+00
 1.900e+01 7.200e+01 1.100e+01 3.400e+01 6.200e+01 2.700e+01 5.200e+01
 1.300e+01 8.200e+01 3.000e+01 1.600e+01 7.000e+00 1.220e+02 1.790e+02
 1.250e+02 1.700e+01       nan 8.900e+01 1.010e+02 1.400e+01 6.100e+01
 3.200e+01 3.300e+01 4.100e+01 1.910e+02 1.380e+02 5.300e+01 2.200e+01
 5.700e+01 6.500e+01 7.600e+01 1.070e+02 9.200e+01 1.640e+02 2.100e+01
 4.000e+01 5.500e+01 1.850e+02 6.300e+01 7.700e+01 8.600e+01 9.100e+01
 1.000e+02 5.400e+01 3.600e+01 7.000e+01 1.390e+02 6.700e+01 1.630e+02
 1.280e+02 1.800e+02 9.300e+01 1.210e+02 4.500e+01 1.050e+02 1.260e+02
 5.600e+01 7.300e+01 2.120e+02 8.800e+01 2.410e+02 1.720e+02 1.750e+02
 1.110e+02 9.900e+01 2.500e+01 4.200e+01 2.260e+02 4.600e+01 1.310e+02
 2.600e+02 6.900e+01 1.420e+02 5.800e+01 7.500e+01 3.800e+01 6.600e+01
 3.900e+01 1.030e+02 3.070e+02 1.560e+02 7.400e+01 1.090e+02 1.550e+02
 6.000e+01 1.540e+02 4.300e+01 1.470e+02 2.170e+02 1.240e+02 4.700e+01
 1.500e+02 1.160e+02 1.710e+02 8.400e+01 1.230e+02 1.650e+02 9.400e+01
 8.300e+01 3.360e+02 5.900e+01 2.190e+02 8.700e+01 4.590e+02 6.800e+01
 1.040e+02 1.330e+02 1.340e+02 8.100e+01 2.590e+02 8.000e+01 7.900e+01
 2.220e+02 2.030e+02 3.540e+02 2.140e+02 7.800e+01 9.500e+01 7.100e+01
 1.100e+02 8.500e+01 1.460e+02 1.960e+02 9.800e+01 4.700e+02 2.640e+02
 1.490e+02 1.130e+02 1.190e+02 1.060e+02 2.160e+02 1.600e+02 2.850e+02
 1.150e+02 1.860e+02 2.110e+02 3.230e+02 1.760e+02 1.670e+02 2.420e+02
 2.840e+02 2.000e+02 1.450e+02 1.080e+02 1.740e+02 1.320e+02 3.130e+02
 3.310e+02 2.880e+02 1.180e+02 2.250e+02 6.400e+01 3.240e+02 1.900e+02
 1.770e+02 1.360e+02 3.200e+02 2.010e+02 2.710e+02 9.600e+01 1.520e+02
 2.800e+02 1.410e+02 1.570e+02 1.530e+02 1.300e+02 1.400e+02 1.120e+02
 2.570e+02 1.170e+02 2.350e+02 9.000e+01 1.810e+02 1.830e+02 1.270e+02
 4.710e+02 2.270e+02 1.020e+02 1.350e+02 1.290e+02 2.550e+02 1.920e+02
 3.480e+02 4.380e+02 4.460e+02 1.840e+02 1.680e+02 1.660e+02 3.100e+02
 1.730e+02 2.610e+02 1.610e+02 2.360e+02 1.510e+02 1.820e+02 3.210e+02
 2.330e+02 1.370e+02 4.330e+02 1.280e+03 2.180e+02 1.480e+02 1.440e+02
 1.870e+02 2.060e+02 1.700e+02 2.090e+02 1.140e+02 2.240e+02 2.810e+02
 2.230e+02 6.380e+02 2.200e+02 2.340e+02 9.700e+01 2.650e+02 3.880e+02
 2.620e+02 2.210e+02 1.620e+02 2.670e+02 3.740e+02 2.280e+02 2.440e+02
 2.470e+02 6.910e+02 1.430e+02 1.890e+02 1.970e+02 2.040e+02 3.190e+02
 2.730e+02 3.290e+02 1.950e+02 4.860e+02 1.780e+02 2.700e+02 1.580e+02
 1.990e+02 2.130e+02 3.830e+02 3.020e+02 6.000e+02 2.150e+02 1.690e+02
 1.880e+02 2.660e+02 2.920e+02 2.870e+02 2.300e+02 2.390e+02 2.890e+02
 2.980e+02 2.320e+02 3.630e+02 2.050e+02 2.950e+02 2.830e+02 5.240e+02
 3.270e+02 2.460e+02 2.900e+02 3.140e+02 3.160e+02 3.040e+02 2.020e+02
 2.960e+02 2.480e+02 3.860e+02 3.810e+02 1.590e+02 3.220e+02 4.600e+02
 4.180e+02 3.490e+02 2.560e+02 2.490e+02 1.940e+02 3.150e+02 2.080e+02
 1.930e+02 3.710e+02 2.290e+02 3.910e+02 4.540e+02 4.450e+02 2.100e+02
 2.680e+02 2.530e+02 2.450e+02 3.370e+02 2.970e+02 4.360e+02 2.790e+02
 3.000e+02 2.400e+02 2.370e+02 2.070e+02 1.980e+02 4.040e+02 2.430e+02
 3.410e+02 2.780e+02 3.050e+02 8.600e+02 2.580e+02 7.020e+02 3.600e+02
 4.930e+02 4.270e+02 3.350e+02 5.160e+02 2.720e+02 4.100e+02 5.550e+02
 3.920e+02 2.520e+02 3.300e+02 3.820e+02 2.930e+02 2.770e+02 2.310e+02
 2.750e+02 3.620e+02 2.760e+02 7.290e+02 3.570e+02 3.260e+02 2.500e+02
 4.580e+02 3.340e+02 2.910e+02 3.800e+02 3.590e+02 3.460e+02 6.240e+02
 3.770e+02 3.720e+02 4.290e+02 5.890e+02 3.010e+02 5.020e+02 2.990e+02
 4.570e+02 2.380e+02 4.010e+02 4.400e+02 2.860e+02 2.740e+02 3.110e+02
 3.030e+02 6.040e+02 7.170e+02 3.560e+02 4.090e+02 8.230e+02 2.940e+02
 2.510e+02 4.310e+02 4.320e+02 4.030e+02 3.180e+02 5.030e+02 3.380e+02
 3.640e+02 4.070e+02 3.680e+02 3.080e+02 2.540e+02 4.350e+02 2.630e+02
 4.170e+02 3.580e+02 4.160e+02 5.610e+02 3.510e+02 9.520e+02 1.011e+03
 9.240e+02 3.060e+02 4.240e+02 4.850e+02 4.430e+02 3.170e+02 5.180e+02
 3.500e+02 4.440e+02 3.120e+02 3.970e+02 5.930e+02 3.930e+02 7.200e+02
 3.660e+02 4.550e+02 2.690e+02 4.340e+02 9.700e+02 3.470e+02 3.090e+02
 3.780e+02 3.790e+02 3.950e+02 3.700e+02 4.480e+02 9.200e+02 3.890e+02
 3.550e+02 3.420e+02 1.584e+03 5.000e+02 4.020e+02 4.060e+02 4.840e+02
 4.120e+02 5.670e+02 4.200e+02 3.990e+02 3.450e+02 3.530e+02 4.220e+02
 2.820e+02 5.070e+02 4.250e+02 3.390e+02 3.520e+02 3.850e+02 7.050e+02
 3.690e+02]
_______________________________________________________
'satisfaction': ['neutral or dissatisfied' 'satisfied']
_______________________________________________________

In [20]:
# Print the number of null values in each column in the training data
print(training_data.isnull().sum())

# The Arrival Delay in Minutes column has 310 missing values.

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [21]:
# Print the number of null values in each column in the test data
print(test_datatraining.isnull().sum())

# The Arrival Delay in Minutes column has 83 missing values.

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

**Remove rows with null values**

In [53]:
# remove rows with missing values from the training data set
training_data.dropna(inplace=True)
print(training_data.isnull().sum())

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [23]:
# remove rows with missing values from the training data set
test_data.dropna(inplace=True)
print(test_data.isnull().sum())

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

**Remove unnecessary columns**

In [24]:
# Drop the 'Unnamed: 0' and 'id' columns
training_data = training_data.drop(columns=['Unnamed: 0', 'id'])
training_data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [25]:
test_data = test_data.drop(columns=['Unnamed: 0', 'id'])
test_data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,1,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

**Save cleaned data**

In [26]:
relative_path = os.path.join('..', 'data', 'cleaned_train_data.csv')
training_data.to_csv(os.path.join(current_dir, relative_path), index=False) # exclude the DataFrame index from being saved to the CSV file.

In [27]:
relative_path = os.path.join('..', 'data', 'cleaned_test_data.csv')
test_data.to_csv(os.path.join(current_dir, relative_path), index=False) # exclude the DataFrame index from being saved to the CSV file.

In [28]:
training_data.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')